//colors
$color-primary: #d47fe7;  
$color-primary-light: #dcb7e4;
$color-primary-dark: #7468cf;

$color-grey-dark:#777;
$color-white: #fff;
$color-black: #000;

//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
